body {
    background-image: linear-gradient(0deg,rgba(134, 8, 8, 0.5),rgba(13, 10, 235, 0.5)),url("https://i.pinimg.com/originals/c3/97/77/c397773bfdbe6913d7953e33df4da9ee.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lexend Mega', sans-serif;
}

#weatherDiv, #youtubeDiv, #beerDiv {
    border: 1px solid white;
    border-radius: 8px;
    height: 200px;
    margin: 30px auto;
}

#button {
    width: 150px;
    margin: 0 auto;
    
    background-color: rgb(195, 64, 247);
    border-color: rgb(195, 64, 247);
}

h1 {
    text-align: center;
}

#motivation {
    width: 60%;
    margin: 0 auto 40px;
    color: white; 
}

#header {
    background: rgb(211,211,211, 0.4)!important;
    padding: 20px !important;
    text-align: center;
    
}

#userInput {
    background: rgb(211,211,211, 0.4)!important;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#userInput::placeholder {
    color: whitesmoke;
}

.weatherDisplay, .youtubeDisplay {
    color: white;
}

#submitButton {
    text-align: center;
}

#imageContainer {
    position: relative;
}

#imageText {
    position: absolute;
    bottom: 0%;
    left:40%;
    color: white;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;

}

