body {
    background-image: linear-gradient(0deg, rgba(134, 8, 8, 0.5), rgba(13, 10, 235, 0.5)), url("https://i.pinimg.com/originals/c3/97/77/c397773bfdbe6913d7953e33df4da9ee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lexend Mega', sans-serif;
    margin-bottom: 200px;
}

/* header div with logo */

#header {
    background: rgb(211, 211, 211, 0.4)!important;
    padding: 20px !important;
    text-align: center;
}

/* logo in the header */

#imageContainer {
    position: relative;
}

/* text on the logo, "Be4" */

#imageText {
    position: absolute;
    bottom: 0%;
    left: 40%;
    color: white;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
}

#trackLink {
    position: relative;
    left: 600px;
    top: 110px;
    color: white;
    font-size: 25px;
    transition: all 0.5s ease 0s;
}

#trackLink:hover {
    text-decoration: none;
    color: white !important;
    font-weight: 700 !important;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 3px;
    background: rgba(218, 15, 218, 0.6);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    transition: all 0.3s ease 0s;
}

/* Text on landing page describing the app */

#slogan {
    text-align: center;
    color: white;
    font-size: 50px;
    width: 60%;
    margin: 100px auto 80px;
}

/* form input to select city */

#userInput {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    transition: all 0.5s ease 0s;
}

/* hover animation for form input */

#userInput:hover {
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: rgba(218, 15, 218, 0.4);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    transition: all 0.3s ease 0s;
}

/* placeholder text inside of form */

#userInput::-webkit-input-placeholder {
    color: black;
}

/* change text color on hover */

#userInput:hover::-webkit-input-placeholder {
    color: white
}

/* quotes that cycle after button pressed */

#motivationalQuote {
    display: none;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 200px auto;
    height: 300px;  

    animation: change_opacity 4s infinite alternate;
}


@keyframes change_opacity {
    0% {opacity: 0}
    100% {opacity: 1}
}


/* a little something to get you moving */

#musicQuote {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 100px;
}

/* div containing audio player and image */

#napsterDiv {
    clear: both;
    overflow: hidden;
    padding-bottom: 25px;
}

/* div containing each song with image and player inside */

.songDisplay {
    margin: 15px;
    margin-left: 45px;
    width: 300px;
    background: black;
    float: left;
    border-radius: 25px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* adds hover animation to each .songDisplay */

.songDisplay:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* image behind music player*/

#artistImage {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* centers the button */

#submitButton {
    text-align: center;
}

/* frist submit button*/

#button {
    border: none;
    background: rgba(218, 15, 218, 0.9);
    color: #ffffff !important;
    font-weight: 100;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

/* hover animations for submit button */

#button:hover {
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: rgba(218, 15, 218, 0.7);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    transition: all 0.3s ease 0s;
}

/* buttin added to the bottom of the music options */

#newButton {
    text-align: center;
}

.newbutton {
    border: none;
    background: rgba(218, 15, 218, 0.9);
    color: #ffffff !important;
    font-weight: 100;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 40px;
}

.newButton:hover {
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: rgba(218, 15, 218, 0.7);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    transition: all 0.3s ease 0s;
}

.pageButton {
    text-align: center;
}

/* div containing the weather info */

#weatherDiv {
    display: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    margin: 30px auto 200px;
    clear: both;
    background: rgba(218, 15, 218, 0.8);
}

/* weather table */

.table {
    text-align: center;
    table-layout: inherit;
    margin-bottom: 100px;
    color: white;
}

#weather, #weatherDescription, #humidity, #wind {
    text-align: center;
}


#tableHeader {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

/* running fast in ... */

#city {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

th {
    font-size: 20px;
    padding-left: 7px !important;
}

td {
    font-size: 30px;
    padding: none !important;
    text-align: left;
}

/* div containing brewery info */

#beerDiv {
    display: none;
    margin-top: 300px;
    background: rgba(218, 15, 218, 0.8);
    padding: 20px;
    border-radius: 8px;
}

/* eadch individual brewery displayed on page */

.breweryInfo {
    color: white;
    text-align: center;
    font-size: 22px;
}

#beerTitle {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.breweryWebsite {
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: rgba(13, 10, 235);
}

.breweryWebsite:hover {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0);
    transition: all 0.3s ease 0s;
}

h4 {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}